<table class="table">
  <tr>
    <th>ユーザー名</th>
    <th>所持金(<%= link_to "ランキング", users_path(q: "deposit") %>)</th>
    <th>成功(<%= link_to "ランキング", users_path(q: "win") %>)</th>
    <th>失敗</th>
    <th>成功率</th>
    <th>出題数</th>
  </tr>
  <% @users.each do |u| %>
    <tr>
      <td><%= link_to u.username, user_path(u) %></td>
      <td><%= u.deposit %></td>
      <td><%= u.win_count %></td>
      <td><%= u.lose_count %></td>
      <td><%= (u.lose_count + u.win_count) == 0 ? 0 : (u.win_count.to_f / (u.lose_count + u.win_count) * 100).floor(1) %>%</td>
      <td><%= u.games.size %></td>
    </tr>
  <% end %>
</table>