<%= form_with model: @game do |f| %>
  <div class="form-group">
    <label for="exampleInputEmail1">タイトル</label>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">数字</label>
    <%= f.text_field :number, class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Bet</label>
    <%= f.number_field :bet, class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">回答回数制限</label>
    <%= f.text_field :limit, class: "form-control" %>
  </div>
  <%= f.submit "作成", class: "btn btn-primary" %>
<% end %>
