<h1>マイページ</h1>
<% @user = current_user %>

<h2>成功<%= @user.win_count %>回 / 失敗<%= @user.lose_count %>回</h2>
<div class="progress">
  <% win_rate = (@user.lose_count + @user.win_count) == 0 ? 0 : (@user.win_count.to_f / (@user.lose_count + @user.win_count) * 100).floor(1) %>
  <% lose_rate = (@user.lose_count + @user.win_count) == 0 ? 0 : (@user.lose_count.to_f / (@user.lose_count + @user.win_count) * 100).floor(1) %>
  <div class="progress-bar" role="progressbar" style="width: #{win_rate}%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar bg-success" role="progressbar" style="width: #{lose_rate}%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="container">
  <div class="jumbotron jumbotron-fluid mt-3">
    <div class="container d-flex justify-content-around">
      <div>
        <p class="lead">勝率</p>
        <h2 class="display-4"><%= win_rate %>%</h2>
      </div>
      <div>
        <p class="lead">所持金</p>
        <h2 class="display-4"><%= @user.deposit %></h2>
      </div>
    </div>
  </div>
</div>

<h2>作成した問題</h2>
<table class="table">
  <tr>
    <th>タイトル</th>
    <th>Bet</th>
    <th>回答制限</th>
  </tr>
  <% @user.games.each do |g| %>
    <tr>
      <td><%= link_to g.title, game_path(g) %></td>
      <td><%= g.bet %></td>
      <td><%= g.limit %></td>
    </tr>
  <% end %>
</table>